SENDER_EMAIL=your-sender-email@gmail.com
SENDER_PASSWORD=your-gmail-app-password
RECEIVER_EMAIL=fraud-alert-recipient@example.com
PAYMENT_DATASET_PATH=../datasets/PS_20174392719_1491204439457_log.csv
